@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Apps Ready Next - V2</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p>
        @Html.ActionLink("Handled Exception", "handledException", "Home", new { @class = "btn btn-default" }) &nbsp;&nbsp;|&nbsp;&nbsp;
        @Html.ActionLink("Un-Handled Exception", "unhandledException", "Home", new { @class = "btn btn-primary" }) &nbsp;&nbsp;|&nbsp;&nbsp;
        @Html.ActionLink("Slow Response", "slowResponse", "Home", new { @class = "btn btn-primary" }) &nbsp;&nbsp;|&nbsp;&nbsp;
        @Html.ActionLink("Crash", "crashMethod", "Home", new { @class = "btn btn-primary" }) &nbsp;&nbsp;|&nbsp;&nbsp;
    </p>
    <p>
        <h6>Results:</h6>
        <i>@ViewBag.rException</i>
        <i>@ViewBag.rInformation</i>
        <i>@ViewBag.cDirectory</i>
    </p>
</div>
